* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/140462-geometric-ornament-pattern-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    background-color: #fff;
    width: 300px;
    margin: 10% auto 0;
    padding: 30px;
}
form h2{
    margin-top: 0;
}

form input {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #8d8888;
    padding: 5px 10px;
}
 div{
    margin-bottom: 10px;
 }

form button{
    width: 100%;
    background-color: rgb(91, 75, 46);
    color: #fff;
    border: none;
    padding: 5px;
}

.product p{
    display: none;

}