body{
    margin: 0;
   
}
.container{
    margin-right: 20px;
    margin: ;
}

header{
    margin: 50px;
}

.logo{
    display: inline;
}
a{
text-decoration: none;
}

.link{
    display: inline;
    margin: 0 , 500 ;
    
  
}

.image{
    max-width:100%;
}

.deema{
    width: 200px;
    border-radius: 50%;
}